@mixin reset-text {
  font-family: $base-font-sans-serif;
  // We deliberately do NOT reset font-size or word-wrap.
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-align: left; // Fallback for where `start` is not supported
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
}


html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

* {max-height: 1000000px;}

// // Body
// $base-text-color: #999999;
// $base-background-color: $white !default;
// $font-size-base: 14px;
// $line-height-base: 1.2 !default;
// $base-font-family: $base-font-sans-serif !default;
